h1,p {
    margin: 0;
    padding: 0;
    position: relative;
}

h2 {
    margin: 0;
    padding: 0; 
}

body {
    margin: 0;
    padding: 0;
    background-color: lightseagreen;
}

img {
    width: 100%;
    height: 100%;
}

.slide {
    position: absolute;
    
}

.first {
    width: 100%;
    height: 100%;
    background: linear-gradient(to top right, rgb(1, 66, 68), rgb(3, 173, 179) );
    opacity: 1;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 60pt;
    color: rgb(124, 92, 10);
    margin-top: 300px;
    transition: font-size 2s ease 0.5s;
    text-align: center;
}

p {
    color: rgb(28, 190, 101);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50pt;
    margin-top: 200px;
    opacity: 0;
    text-align: center;
    animation: sosnovka 3s ease 2.5s forwards, color 7s linear 2s forwards;
}
@keyframes sosnovka {
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes color {
    0% {color: rgb(83, 245, 218);}
    25% {color: rgb(215, 245, 83);}
    50% {color: rgb(232, 83, 245);}
    75% {color: rgba(6, 255, 47, 0.733);}
    100% {color: rgba(0, 255, 213, 0.562);};
}



.second {
   opacity: 0;
}

/* .second img {
    animation: lakediv 1s linear forwards;
}
@keyframes lakediv {
    from {transform: scale(0.1)};
    to {transform: scale(1)};
} */

/* .slide.second h2 {
    position: absolute;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50pt;
    color: rgb(161, 145, 51);
    bottom: 50px;
    margin-left: 38%;
    transition: font-size 2s ease 1s, margin-left 3s ease 2s;
    animation: laketxt 5s ease 5s forwards;
    opacity: 50%;
} */
/* @keyframes laketxt {
    0% {color: rgb(161, 145, 51)}
    25% {color: rgb(215, 245, 83);}
    50% {color: rgb(232, 83, 245);}
    75% {color: rgba(6, 255, 48, 0.63);}
    100% {color: rgb(102, 226, 65);};
} */
.third {
    opacity: 0;
}

.forth {
    opacity: 0;
}

a:hover + div.slide {
    opacity: 1;
    transition: opacity 1s; 
}
a:hover + .slide.second img {
    animation: lakeimg 1s linear forwards;
}
a:hover + .second h2 {
    position: absolute;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50pt;
    color: rgb(161, 145, 51);
    bottom: 50px;
    margin-left: 38%;
    transition: font-size 2s ease 1s, margin-left 3s ease 2s;
    animation: laketxt 5s ease 5s forwards;
}

@keyframes laketxt {
    0% {color: rgb(161, 145, 51)}
    25% {color: rgb(215, 245, 83);}
    50% {color: rgb(232, 83, 245);}
    75% {color: rgba(6, 255, 48, 0.63);}
    100% {color: rgb(102, 226, 65);};
}
@keyframes lakeimg {
    from {transform: scale(0.1)};
    to {transform: scale(1)};
}