h1,p {
    margin: 0;
    padding: 0;
    position: relative;
}

h2 {
    margin: 0;
    padding: 0; 
}

body {
    margin: 0;
    padding: 0;
    background-color: lightseagreen;
    overflow: hidden;
}

img {
    width: 100%;
    height: 100%;
}

a {
    display: inline-block;
    text-decoration: none;
    border: 1px solid #00948d;
    width: 80px;
    padding: 3px;
    background-color: #20b2aa;
    text-align: center;
    color: rgb(255, 185, 9);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a:hover {
    background-color: darkturquoise;
}

div.slide {
    position: absolute;
    z-index: -1;
}

.first {
    width: 100%;
    height: 100%;
    background: linear-gradient(to top right, rgb(1, 53, 54), rgb(3, 186, 192) );
    opacity: 1;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 60pt;
    color: rgb(124, 92, 10);
    text-shadow: 3px 1px 0px rgb(5, 73, 78);
    margin-top: 20%;
    transition: font-size 2s ease 0.5s, text-shadow 2s ease 3.5s;
    text-align: center;
    z-index: 0;
}

p {
    color: rgb(28, 190, 176);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50pt;
    font-weight: 600;
    text-shadow: 2px 1px 0px rgb(6, 255, 172);
    margin-top: 10%;
    opacity: 60%;
    text-align: center;
    z-index: 1;
    transition: font-size 2s ease 2s, text-shadow 2s ease 3.5s;
}

.second,.third,.forth {
   opacity: 0;
}

a:focus + div.slide {
    opacity: 1;
    transition: opacity 1s; 
}


.slide.second img {
    transform: scale(0.1)
}

a:focus + .slide.second img {
    transform: none;
    transition: transform 1s linear;
}

a:focus + .second h2 {
    position: absolute;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50pt;
    color: rgb(230, 198, 22);
    margin-top: 47%;
    margin-left: 38%;
    transition: font-size 2s ease 1s, margin-left 3s ease 2s;
    z-index: 1;
    opacity: 70%;
}

.slide.third img {
    transform: rotate(-360deg);
    
}

a:focus + .slide.third img {
    transform: none;
    transition: transform 1s linear;
}

.third h2 {
    margin-top: 10px;
}

a:focus + .third h2 {
    position: absolute;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50pt;
    color: rgb(179, 255, 0);
    opacity: 80%;
    font-stretch: extra-expanded;
    margin-top: 47%;
    margin-left: 38%;
    transition: font-size 3s ease 3s, margin-left 2.5s ease 1s, margin-top 2.5s ease 1s;
    z-index: 1;
}

.slide.forth img {
    transform: rotate3d(1, 1, 1, 360deg);
}

a:focus + .slide.forth img {
    transform: none;
    transition: transform 2s linear;
}

.forth h2 {
    margin-top: 1%;
    transform: rotate(-720deg);
}

a:focus + .forth h2 {
    position: absolute;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50pt;
    color: rgb(51, 161, 51);
    opacity: 80%;
    margin-top: 47%;
    margin-left: 38%;
    transform: none;
    transition: font-size 3s ease 5s, margin-left 2s ease 0.5s, margin-top 6s ease 3s, transform 4s ease 3.5s;
    z-index: 1;
}